# Keep development-only files out of the release archive built by git archive.
/.gitattributes   export-ignore
/.gitignore       export-ignore
/.wp-env.json     export-ignore
/.release-assets  export-ignore
/playground       export-ignore
/docs             export-ignore
/assets           export-ignore
/tests            export-ignore
/package.json     export-ignore
/package-lock.json export-ignore
/node_modules     export-ignore
/tools            export-ignore
/plans            export-ignore
/.github          export-ignore
/site             export-ignore
